<div style="margin-top:40px;margin-right:">
	<p class="span2"></p>
	<div contenteditable="true" rows='26' id="shellPass"  readonly ></div>

</div>

<div style="margin-top:10px;margin-right:" >
	<p class="span2"></p>
	<div contenteditable="true"  id="shellCurrent" onfocus="this.value = this.value;"></div>
</div>

<form id="logout" action="logout" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>

<!-- TODO
Criar limpeza de fila ao iniciar -->


<script type="text/javascript">
	var keyPressUp = 0;
  // $('#shellCurrent').append('THINK ');

  $('#shellCurrent').keydown(function(e) {

    if(e.which == 38) {
      keyPressUp++;
      rescueCommandKey('console THINK sentenceSave rescueOne ' + keyPressUp);
      console.log(keyPressUp);
    }

    if(e.which == 40) {
      if (keyPressUp > 0)
      {
        keyPressUp--;
        console.log(keyPressUp);
        rescueCommandKey('console THINK sentenceSave rescueOne ' + keyPressUp);
      }
    }


	  if(e.which == 13) {
    	 	//Get the current time
    	 	var d = new Date();
    	 	var time;
    	 	var shellCurrent;

	      //Verificação de comandos especiais

        //clear
        if ($('#shellCurrent').html() == 'clear')
	      {
	        $('#shellPass').html('');
	        resetShell();
	        return 0;
	      }

        //login
        if ($('#shellCurrent').html() == 'logout')
        {
          logout();
        }
        ///////////////////////////////////

	      	time = getCurrentTime();
          time = "<font color='red'>" + time + "</font>"

  	  		//Mount the console text
  	  		temp = time + ' ->   THINK ' + $('#shellCurrent').html();
  	  		shellContent = '<p>' + temp + '</p>' ;
  	  	  $('#shellPass').append(shellContent)

	  	   	//Call the command armazenat commands function
	  	   	shellCurrent = 'THINK ' + $('#shellCurrent').html();
	  	   	shellCurrent = shellCurrent.split(' ');
	  	   	shellCurrent.join()
	  	   	submitCommandKey('console ' + 'THINK sentenceSave saveOne ' + shellCurrent )

	  	   	//Call the submition function
	  	   	submitCommand('console THINK ' + $('#shellCurrent').html())

	  	   	resetShell();

	  	   	//Scroll the console
	  	   	document.getElementById("shellPass").scrollTop = document.getElementById("shellPass").scrollHeight


	   	}


        //Função para realizar o logout do usuario
        function logout()
        {
          $( "#logout" ).submit();
        }

        //Função de exclusão de elemento
        function resetShell()
        {
          //Reset the input console
          $('#shellCurrent').html('')
          // $('#shellCurrent').append('THINK ');

        }

        //Função de exclusão de elemento
        function getCurrentTime()
        {
        	var time = '';
	    	time  =  + d.getHours(); // => 9
	    	if(d.getMinutes() > 9)
	  			time += ':' + d.getMinutes(); // =>  30
	  		else
	  			time += ':0' + d.getMinutes(); // =>  30
	  		if(d.getSeconds() > 9)
	  			time += ':' + d.getSeconds();
	  		else
	  			time += ':0' + d.getSeconds();
	  		return time;
        }

        function replaceAll(string, token, newtoken) {
          while (string.indexOf(token) != -1) {
            string = string.replace(token, newtoken);
          }
          return string;
        }


  	   //Functio to submit a command
        function submitCommand(command)
        {

          info = {"command": command };
            $.ajax({
                type: 'post',
                url: "../thinkDo",
                data: info

                }).done(function(data) {
                   serverResponse = "RESPONSE:  " + data.response
                   shellContent = $('#shellPass').val() + serverResponse;
                   $('#shellPass').append("<p>" + shellContent + "</p>");
                });
        }

        //Function to submit up arrow or down arrow
        function submitCommandKey(command)
        {
          //Apaga no banco
          info = {"command": command };
            $.ajax({
                type: 'post',
                url: "../thinkDo",
                data: info

                }).done(function(data) {
                   console.log('submited')
                });
        }

        //Function to rescue up arrow or down arrow
        function rescueCommandKey(command)
        {
          //Apaga no banco
          info = {"command": command };
            $.ajax({
                type: 'post',
                url: "../thinkDo",
                data: info

                }).done(function(data) {
                   var temp = data.response;
                   console.log(temp);

                   $('#shellCurrent').html('');
                   temp = temp.replace('THINK', '');
                   temp = replaceAll( temp , ',', ' ');
                   $('#shellCurrent').append(temp);
                })
        }
});
</script>