<div style="margin-top:40px;margin-right:">
	<p class="span2"></p>
	<textarea  rows='26' id="shellPass"  readonly></textarea>

</div>

<div style="margin-top:px;margin-right:">
	<p class="span2"></p>
	<input  rows='1' cols='1' id="shellCurrent"></input>
</div>



<script type="text/javascript">
	var keyPressUp = 0;
  $('#shellCurrent').val('THINK ');

  $(document).keypress(function(e) {

    if(e.which == 38) {
      rescueCommandKey('console THINK keyPressSave ' + keyPressUp + ' up');
      keyPressUp++;
    }

    if(e.which == 40) {
      if keyPressUp > 0
      {
        rescueCommandKey('console THINK keyPressSave ' + keyPressUp + ' up');
        keyPressUp--;
      }
    }


	  if(e.which == 13) {

  	 	//Get the current time
  	 	var d = new Date();
  	 	var time;



      //Verificação de comandos especiais
      if ($('#shellCurrent').val() == 'clear')
      {
        $('#shellPass').val('');
        resetShell();
        return 0;
      }


    	time  =     + d.getHours(); // => 9
  		time += ':' + d.getMinutes(); // =>  30
  		if(d.getSeconds() > 9)
  			time += ':' + d.getSeconds()
  		else
  			time += ':0' + d.getSeconds()

  		//Mount the console text
  		temp = time + ' ->   ' + $('#shellCurrent').val();
  		shellContent = $('#shellPass').val() + temp + '\n';
  	   	input = $('#shellPass').val(shellContent)

  	   	//Call the submition function
  	   	submitCommand('console ' + $('#shellCurrent').val())

  	   	resetShell();

  	   	//Scroll the console
  	   	document.getElementById("shellPass").scrollTop =    document.getElementById("shellPass").scrollHeight


    	  }

        //Função de exclusão de elemento
        function resetShell()
        {
          //Reset the input console
          $('#shellCurrent').val('')
          $('#shellCurrent').val('THINK ');

        }



  	   //Functio to submit a command
        function submitCommand(command)
        {

          info = {"command": command };
            $.ajax({
                type: 'post',
                url: "../thinkDo",
                data: info

                }).done(function(data) {
                   serverResponse = "RESPONSE:  " + data.response + '\n'
                   shellContent = $('#shellPass').val() + serverResponse;
                   input = $('#shellPass').val(shellContent);
                });
        }

        //Function to submit up arrow or down arrow
        function submitCommandKey(command)
        {
          //Apaga no banco
          info = {"command": command };
            $.ajax({
                type: 'post',
                url: "../thinkDo",
                data: info

                }).done(function(data) {
                   console.log('submited')
                });
        }

        //Function to rescue up arrow or down arrow
        function rescueCommandKey(command)
        {
          //Apaga no banco
          info = {"command": command };
            $.ajax({
                type: 'post',
                url: "../thinkDo",
                data: info

                }).done(function(data) {
                   shellContent = $('#shellCurrent').val() + data.response;
                });
        }
});
</script>